.form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    input {
      padding: 6px 8px;
    }
  }
}
