.form {
  flex-direction: column;
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
  label {
    display: flex;
    flex-direction: column;
    justify-content: center;

    input {
      width: 300px;
      padding: 6px 8px;
      outline: none;
    }
  }
  .btn {
    padding: 6px 8px;
    align-self: flex-end;
  }
}
